:root {
  --accent: rgba(141, 206, 151, 1);
  --accent-dark: rgb(73, 110, 79);
  --contrast: rgba(255, 203, 71, 1);
  --font-1: "Poppins", sans-serif;
  --text-color: #202020;
}

$contrast: rgba(255, 203, 71, 1);
$accent: rgba(141, 206, 151, 1);
