.main-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60rem;
  transition: all 0.3s;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    width: 100%;
    height: 100%;
    background: #8dce97d8;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.3);
  }

  &.fixed {
    opacity: 1;
    pointer-events: initial;
    transform: scale(1);
    a {
      font-size: 2.4rem;
      &::after {
        display: none;
      }
    }
  }
  li {
    &:not(:last-of-type) {
      a {
        &::after {
          content: "/";
          position: absolute;
          top: 0;
          right: -3rem;
          transform: translate(-50%, -50%);
          background-color: black;
          height: 0%;
          opacity: 1;
          transition: all 0.4s;
        }
      }
    }
    &.current-menu-item {
      a {
        &::before {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  a {
    position: relative;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0;
    color: #141414;
    transition: all 0.6s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      transform: translateY(1rem);
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: black;
      opacity: 0;
      transition: all 0.4s;
    }
    &:hover {
      &::before {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
